let mapleader=" "

" --- SET ---
set number relativenumber   " add line numbers (relative)

set ignorecase
set smartcase

set nohlsearch              " do not highlight search result
set incsearch               " incremental search, go to match before pressing enter

set scrolloff=8             " Minimal number of screen lines to keep above and below the cursor 

set ideajoin
set ideamarks
set idearefactormode=keep

set clipboard+=unnamed
set clipboard+=ideaput

set visualbell
set noerrorbells

" --- PLUGINS ---

" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
"https://github.com/JetBrains/ideavim/wiki/NERDTree-support - remember shortcuts
Plug 'preservim/nerdtree'    "Plugin Section
                             
" Replace deleted/yanked text: gr{motion}
Plug 'vim-scripts/ReplaceWithRegister'

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'

Plug 'machakann/vim-highlightedyank'
"let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

Plug 'dbakker/vim-paragraph-motion'

" --- REMAPS --- " remaps not used while coding starts with \
nmap \e :e ~/.ideavimrc<CR>
nmap \r <Action>(IdeaVim.ReloadVimRc.reload)

" --- Vim remaps ---
" Map 0 to go to the first charactor of the line
nnoremap 0 g^
nnoremap x "_x

" CopyReference

" Move line up/down
nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
inoremap <A-j> <Esc>:m .+1<CR>==gi
inoremap <A-k> <Esc>:m .-2<CR>==gi
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

" Refactorings
nmap <leader>ca :action ShowIntentionActions<CR>
vmap <leader>ca :action ShowIntentionActions<CR>
nmap <leader>rr :action Refactorings.QuickListPopupAction<CR>
nmap <leader>re :action RenameElement<CR>
" ri(v/f/p) refactor introduce variable / field / parameter 
nmap <leader>riv <Action>(IntroduceVariable) 
nmap <leader>rif <Action>(IntroduceField) 
nmap <leader>rip <Action>(IntroduceParameter) 

" TODO: Find mapping in treesitter - Move element left/right -> MoveElementLeft

" Search and replace
nnoremap <Leader><Leader>r :%s//g<Left><Left>


" Window management
nmap <leader>wm <Action>(MoveEditorToOppositeTabGroup)
nmap <leader>wf <Action>(ActivateProjectToolWindow)
nmap <leader>wt <Action>(ActivateProjectToolWindow)
nmap <leader>wr <Action>(ActivateRunToolWindow)
nmap <leader>ww <Action>(HideAllWindows)
nmap <leader>wz <Action>(ToggleZenMode)
nmap <leader>wd <Action>(ToggleDistractionFreeMode)
nmap <leader>tt <Action>(ActivateTerminalToolWindow)

"""""" Jump
nmap <leader>se :action SearchEverywhere<CR>
" [S]earch [T]ext by [G]rep
nmap <leader>sg <Action>(FindInPath)
vmap <leader>sg <Action>(FindInPath)
" [S]earch [T]ext by current [W]ord
map <leader>sw <Action>(EditorSelectWord)

nmap <leader>xx <Action>(ActivateProblemsViewToolWindow)
nmap <leader>sds <Action>(FileStructurePopup)

nmap <leader>sf <Action>(GotoFile)
nmap <leader>sb <Action>(RecentFiles)
nmap <leader>rl <Action>(RecentLocations)
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

" Navigation
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)


" Running and Debugging
nmap <leader>tb <Action>(ToggleLineBreakpoint)
nmap <leader>rc <Action>(ChooseRunConfiguration)
nmap <leader>ru <Action>(Run)
nmap <leader>ra <Action>(Rerun)
nmap <leader>rd <Action>(Debug)
nmap <leader>rs <Action>(Stop)


" Split
" nmap <c-w>o <Action>(UnsplitAll)<Action>(CloseAllEditorsButActive)<CR>
nmap <leader>bd <Action>(CloseContent)
nmap <leader>qa <Action>(CloseAllEditorsButActive)
nmap <c-w>q <Action>(CloseAllEditors)
nmap <c-w>v <Action>(MoveTabRight)
nmap <c-w>s <Action>(MoveTabDown)
nmap <c-a-l> <Action>(NextSplitter)
nmap <c-a-h> <Action>(PrevSplitter)
nmap <c-a-j> <Action>(NextSplitter)
nmap <c-a-k> <Action>(PrevSplitter)
nmap <c-a-Right> <Action>(NextSplitter)
nmap <c-a-Left> <Action>(PrevSplitter)
nmap <c-a-Down> <Action>(NextSplitter)
nmap <c-a-Up> <Action>(PrevSplitter)
nmap <c-Right> <Action>(StretchSplitToRight)
nmap <c-Left> <Action>(StretchSplitToLeft)
nmap <c-w>= <Action>(MaximizeEditorInSplit)
nmap <c-w>\| <Action>(MaximizeEditorInSplit) " <c-w>|

nmap zo <Action>(ExpandRegion)
nmap zc <Action>(CollapseRegion)
nmap za <Action>(ExpandCollapseToggleAction)

nmap <leader>gd <Action>(GotoDeclaration)
"  vim.keymap.set('n', 'gD', vim.lsp.buf.declaration, opts)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>go <Action>(GotoTypeDeclaration)
nmap <leader>gr <Action>(ShowUsages)
nmap <leader>= <Action>(ReformatCode)

nmap <leader>gl <Action>(GotoRelated)

nmap K <Action>(QuickJavaDoc)
nmap <c-k> <Action>(ParameterInfo)
imap <c-k> <Action>(ParameterInfo)

" Snippets (templates)
imap <c-y> <Action>(EditorChooseLookupItem)
" nmap <c-y> <Action>(EditorChooseLookupItem)
imap <c-l> <Action>(NextTemplateVariable)
imap <c-h> <Action>(PreviousTemplateVariable)

" Utilities
map <leader>oi <Action>(OptimizeImports)

" --- Diagnostics ---
nmap <leader>e <Action>(ShowErrorDescription)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)




"""" intellij specific mappings
if &ide =~? 'intellij idea'

" Window management
nmap <leader>wu <Action>(ActivateUnitTestsToolWindow)
nmap <leader>ws <Action>(SelectInProjectView)
nmap <leader>wn <Action>(ActivateNuGetToolWindow) " TODO: gradle package search?

nmap <leader>wh <Action>(HideSideWindows) " TODO: find alternative


nmap <leader>bs <Action>(CompileDirty)
nmap <leader>ba <Action>(CompileProject)

" --- Tests ---
nmap <leader>ur <Action>(RunClass)
nmap <leader>ud <Action>(DebugClass)
nmap <leader>ua <Action>(RiderUnitTestRunSolutionAction)
nmap <leader>ue <Action>(RiderUnitTestSessionRerunFailedTestsAction)


"""" rider specific mappings
elseif &ide =~? 'rider'

" Window management
nmap <leader>wu <Action>(ActivateUnitTestsToolWindow)
nmap <leader>ws <Action>(LocateInSolutionView)
nmap <leader>wn <Action>(ActivateNuGetToolWindow)
nmap <leader>wh <Action>(HideSideWindows)

" Running and Debugging
nmap <leader>ur <Action>(RiderUnitTestRunContextAction)
nmap <leader>ud <Action>(RiderUnitTestDebugContextAction)
nmap <leader>ua <Action>(RiderUnitTestRunSolutionAction)
nmap <leader>ue <Action>(RiderUnitTestSessionRerunFailedTestsAction)

" BuildWholeSolutionAction
nmap <leader>bs <Action>(BuildWholeSolutionAction)
nmap <leader>ba <Action>(RebuildSolutionAction)

nmap <leader>xw <Action>(Rider.ProblemsView.ErrorsInSolution)


nmap <leader>ge <Action>(ReSharperGotoNextErrorInSolution)
nmap <leader>gE <Action>(ReSharperGotoPrevErrorInSolution)

endif
