[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/flye
Type=simple
ExecStart=/usr/local/bin/kanata --cfg /home/flye/.dotfiles/kanata/kanata-colemak.kbd
Restart=never

[Install]
WantedBy=default.target
