// While trying to bind the newline character in the Config, use double quotes:
// Ctrl: "\n" instead of Ctrl: '\n'

keybinds  {
    normal {
        unbind "Alt j" "Alt k"
    }
    locked {
        unbind "Ctrl g"
        bind "Alt g" { SwitchToMode "Normal"; }
    }
    resize {
        unbind "Ctrl n"
        bind "Alt r" { SwitchToMode "Normal"; }
    }

    pane {
        unbind "Ctrl p"
        bind "Alt s" { SwitchToMode "Normal"; }
    }

    move {
        unbind "Ctrl h"
        bind "Alt v" { SwitchToMode "Normal"; }
    }

    tab {
        unbind "Ctrl t"
        bind "Alt t" { SwitchToMode "Normal"; }

        // bind "i" { MoveTab "Left"; }
        // bind "o" { MoveTab "Right"; }
    }

    scroll {
        unbind "Ctrl s"
        unbind "Ctrl c"
        bind "Alt /" { SwitchToMode "Normal"; }
        bind "Alt c" { ScrollToBottom; SwitchToMode "Normal"; }
    }

    search {
        unbind "Ctrl s"
        unbind "Ctrl c"
        bind "Alt /" { SwitchToMode "Normal"; }
        bind "Alt c" { ScrollToBottom; SwitchToMode "Normal"; }
    }

    session {
        unbind "Ctrl o"
        unbind "Ctrl s"
        bind "Alt w" { SwitchToMode "Normal"; }
        bind "Alt /" { SwitchToMode "Scroll"; }
    }


    shared_except "locked" {
        unbind "Ctrl g"
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt q" { Quit; }
        bind "Alt f" { ToggleFloatingPanes; }

        bind "Ctrl h" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus";
                payload "left";

                move_mod "ctrl";
                resize_mod "alt";
            };
        }

        bind "Ctrl j" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus";
                payload "down";

                move_mod "ctrl";
                resize_mod "alt";
            };
        }

        bind "Ctrl k" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus";
                payload "up";

                move_mod "ctrl";
                resize_mod "alt";
            };
        }

        bind "Ctrl l" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus";
                payload "right";

                move_mod "ctrl";
                resize_mod "alt";
            };
        }
    }

    shared_except "pane" "locked" {
        unbind "Ctrl p"
        bind "Alt s" { SwitchToMode "Pane"; }
    }

    shared_except "resize" "locked" {
        unbind "Ctrl n"
        bind "Alt r" { SwitchToMode "Resize"; }
    }

    shared_except "scroll" "locked" {
        unbind "Ctrl s"
        bind "Alt /" { SwitchToMode "Scroll"; }
    }

    shared_except "session" "locked" {
        unbind "Ctrl o"
        bind "Alt w" { SwitchToMode "Session"; }
    }

    shared_except "tab" "locked" {
        unbind "Ctrl t"
        bind "Alt t" { SwitchToMode "Tab"; }
    }

    shared_except "move" "locked" {
        bind "Alt v" { SwitchToMode "Move"; }
    }
}
plugins {
    compact-bar location="zellij:compact-bar"  {
        tooltip "F1"
    }
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }

    zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm" 
    vim-zellij-navigator location="file:~/.config/zellij/plugins/vim-zellij-navigator.wasm" 
}

 load_plugins {
    "zjstatus" 
    "vim-zellij-navigator"
 }


// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames true

// mouse_mode false
// copy_on_select false

theme "gruvbox-dark"

// The name of the default layout to load on startup
// Default: "default" // "compact"
//
// default_layout "zjstatus_layout"
default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"
